/*style.css is organized first by HTML tags and is followed
by classes. */

body {
  font-family: Georgia, Times, "Times New Roman",serif;
  background-image: url(../images/concrete-texture.png);
  width: 100%;
  max-width: 960px;

}
* {
  box-sizing: border-box;
}

h2 {
  color: #4aaaa5;
  font-size: 22px;
  font-weight: bold;
}

h3 {
  color: #4aaaa5;
  float: center;
  font-weight: bold;
  font-size: 22px
}

a {
  text-decoration: none; 
  color: #777777;
}

p {
  color:#777777;
  word-spacing: 2px;
}

footer {
  background-color: #666666;
  height:100px;
  border-top: 10px solid #4aaaa5;
  clear: both;
  display: block;
  width: 100%;
  max-width: 960px;
  bottom: 0;
  z-index: 1;
}

footer p {
    display: table;
    text-align: center;
    color: white;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

button{
  background-color: #4aaaa5;
  color: #f0f0f0;
  font-size: 18px;
  border: none;
}

form{
  text-align: left;
  color: #777777;
}

li a:hover{
  background-color: #4aaaa5;
}

/*static on each page*/
.entire-container{
  margin: 20px;
  max-width: 960px;
  width: 100%;
  
}

.container {
  width: 98%;
  margin: 0px 10px;
  padding-bottom: 100px;
  clear: both;
  max-width: 960px;

}

.left-side {
  width: 100%;
  max-width: 650px;
  height: auto;
  background-color: #ffffff;
  float: left;
  border: 1px solid #ededed;
  padding: 20px;
  margin-right: 10px;
}

.right-side {
  width: 100%;
  max-width: 270px;
  background-color: #ffffff;
  text-align: center;
  float: right;
  border: 1px solid #ededed;
  padding: 20px;
}

.socialBtnItems {
  width: 100%;
  padding: 5px;

}

.socialBtn {
  width: 20%;
  display: inline;
  height: 50px;
}

.hr-left {
  width: 100%;
  margin-bottom: 5px;
}

.hr-right {
  width: 80%;
  margin-bottom: 5px;

}

/*Header classes*/

.header-container {
  background-color: white;
  width: 100%;
  max-width: 960px;
  max-height: 75px;
  height: 100%;
  border-bottom: 2px solid #cccccc;
  margin: 0;
}

.nav-item-list{
  float: right;
  padding: 35px 55px 35px 0px;
  text-decoration: none;
}

.nav-item {
  float: right;
  margin-right: 10px;
  text-decoration: none;
}

.nav-item-bar{
  color: #e5e5e5;
  margin-left: 6px;
}

.name{
  float: left;
  background-color: #4aaaa5; 
  text-align: center;
  color: white;
  height: 75px;
  max-height: 75px;
  margin-left: 55px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
  font-size: 24px;
  font-weight: bold;
}


/*index.html specific*/
.profilePhoto {
  float: left;
  padding: 0px 5px 5px 5px;
  margin: 0px 10px 10px 10px; 

}

.left-side-paragraph {
  line-height: 1.5; 
}

/*contact.html specific*/
.form-box {
  width: 100%;
  margin: 10px 0px;
  text-align: left;
  color: #777777;
}

/*portfolio.html specific*/

.gallery{
  width: 100%;
}

.img-container{
  width: 100%;
  max-width: 254px;
  margin: 10px 10px;
  position: relative;
  float: left;
}

.img-container:nth-child(even) {
  margin-right: 40px;
}

.banner{
  background-color: #4aaaa5;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100px;
  padding: 20px 0;
  color: white;
}



.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;

}
.clearfix:after{
  clear: both;
}

@media screen and (max-width: 980px) {
  .header-container{
    margin: 0 auto;
    display: inline-block;
    overflow: auto;
  }

  input{
    border:1px solid rgb(238, 238, 238);
  }

  .container{
    clear: both;
  }

  .nav-item-list,{
    margin: auto 10px;
  }

  .name{
    margin: auto 0px auto 30px;
  }

  footer{
    width: 95%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    clear: both;
  }

  form{
    border: 1px solid rgb(238, 238, 238);
  }


  .left-side{
    float: left;
    width: 55%;
    height: auto;
    margin-top: 30px;
  }
  .right-side{
    float: right;
    width: 40%;
    margin-right: 55px;
    margin-top: 30px;
  }

  .inner-left{
    display: block;
    width: 100%;
    margin: 5px auto;

  }
  .profilePhoto, .left-side-paragraph{
    width: 100%;
    float: left;
    margin: 5px auto;
  }

  .img-container{
    width: 100%;
    max-width: 486px;
    padding-right: auto;
    padding-left: auto;
    display: block;
    clear: both;
    position: relative;
  }

  .gallery{
    width: 100%;
  }

  .banner{
    position: absolute;
    top: 280px;
    z-index: 1;
  }
}



@media screen and (max-width: 768px) {
  
  .header-container {
    max-width: 768px;
    width: 100%;
    margin:0px;
    padding: 0px;
  }

  footer { 
    max-width: 768px;
    width: 100%;
    margin:0px;
    padding: 0px;
    /*may need to clean up stick footer*/
  }
  

  .left-side{
    float: left;
    width: 100%;
    max-width: 768px;
  }

  .right-side{
    float: left;
    max-width: 768px;
    width: 100%;
  }

  .socialBtnItems{
    text-align: left;
  }
  .socialBtn{
    max-width: 50px;
    width: 100%
  }

  .hr-right{
    display: block;
    width: 100%;
  }

  .img-container{
    width: 45%;
    display: inline-block;
    clear: none;
}

.banner{
  position: absolute;
  top: 175px;
}

.entire-container{
    max-width: 768px;
    width: 100%;
}

}

@media screen and (max-width: 640px) {

  .entire-container{
    max-width: 640px;
    width: 100%;
}
  .container{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .header-container{
    max-width: 640px;
    width: 100%;
    height:100%;
    max-height: 150px;
  }

  .name,.nav-item-list{
    display: block;
    max-width: 640px;
    width: 100%;
    float: none;
    height: auto;
  }
  .name{
    margin: 0px;
    max-height: 75px;
    height: 100%;
    padding-bottom: 5px;
  }

  .nav-item-list{
    padding: 0px 0px 20px 0px;
    text-align: center;
    float: none;
    margin: none;
    max-height: 75px;
    height: 100%;

  }

  .nav-item{
    width: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .nav-item-bar{
    margin-left: 80px;
  }

  .left-side, .right-side {
    margin-left: none;
    margin-right: none;
  }

  .img-container{
    width: 100%;
    align-content: center;
  }

  .banner{
  position: absolute;
  top: 300px;
  }
}


